<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <!-- Defines the ros2_control system component -->
        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>dummy_hw_interface/DummyHardwareInterface</plugin>
                <!-- THIS DAMN LINE MAKE USRE TO CHANGE IT TO THE CORRECT CONTROLLER!!!!!!! -->
                <!-- <plugin>uno_stepper_interface/UnoStepperInterface</plugin> -->
                <!-- <plugin>mock_components/GenericSystem</plugin> -->

                <param name="serial_port">/dev/ttyACM0</param> 
                <param name="baud_rate">115200</param>
                
            </hardware>

            <joint name="base_link_to_upper_base_link">
                <command_interface name="position"/> <!-- Controller expects to command position -->
                <state_interface name="position">    <!-- Controller expects to read position state -->
                  <param name="initial_value">${initial_positions['base_link_to_upper_base_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>   <!-- Controller expects to read velocity state -->
            </joint>
            <!-- Joint 2 -->
            <joint name="upper_base_link_to_lower_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['upper_base_link_to_lower_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <!-- Joint 3 -->
            <joint name="lower_link_to_upper_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['lower_link_to_upper_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <!-- Gripper Joint -->
            <joint name="left_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_finger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
